<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>

        <key>NSContactsUsageDescription</key>
        <string>i want to access contact !!!</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$(PRODUCT_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>FacebookAppID</key>
        <string>546712892373272</string>
        <key>FacebookDisplayName</key>
        <string>SimpleProjectRX</string>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>We want to use for your Photos.</string>
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>armv7</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>

        <!-- Add the required settings for app-to-app login -->
        <key>LineSDKConfig</key>
        <dict>
            <key>ChannelID</key>
            <string>1572111067</string>
        </dict>

        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>

                    <string>twitterkit-yhbcNDS4EbdPYMQLLcliFl4LB</string>

                    <string>fb546712892373272</string>

                    <string>com.googleusercontent.apps.989732410106-mb9dbumohe1viird52saj5kj8iv9nh4r</string>
                </array>
            </dict>
        </array>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>lineauth</string>
            <string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>

            <string>twitter</string>
            <string>twitterauth</string>

            <string>fbapi</string>
            <string>fb-messenger-share-api</string>

            <string>fbauth2</string>
            <string>fbshareextension</string>
        </array>


    </dict>
</plist>
